baseModel/json.hpp
baseModel/main
baseModel/Core/main.out
baseModel/output.txt
CNN/dowload.py
CNN/q.py
CNN/experiment1/dowload.py
CNN/experiment1/q.py
CNN/experiment2/cnn_lettersNew.safetensors
target/
**/*.rs.bk
exp/tensor/tensor_module.cpython-313-x86_64-linux-gnu.so
TestPytorch/Transformer/__pycache__/Tokenizer.cpython-310.pyc
TestPytorch/Transformer/MyNewModel/__pycache__/decoderOnly.cpython-310.pyc
TestPytorch/Transformer/MyNewModel/__pycache__/tokenizer.cpython-310.pyc
TestPytorch/Transformer/standart/__pycache__/decoderOnly.cpython-310.pyc
TestPytorch/Transformer/standart/__pycache__/tokenizer.cpython-310.pyc
TestPytorch/Transformer/education/__pycache__/Mytransformers.cpython-310.pyc
TestPytorch/Transformer/Encoder-only/__pycache__/encoderOInly.cpython-310.pyc
TestPytorch/Transformer/Encoder-only/__pycache__/tokenizer.cpython-310.pyc
CNN/experiment4CatDog/__pycache__/cnn_model.cpython-310.pyc
CNN/experiment4CatDog/__pycache__/CNN.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/config.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/data_manager.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/model_client.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/stats_manager.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/validator.cpython-310.pyc
myKit/GenerateSynthetic/__pycache__/prompt_generator.cpython-310.pyc
