baseModel/json.hpp
baseModel/main
baseModel/Core/main.out
baseModel/output.txt
CNN/dowload.py
CNN/q.py
CNN/experiment1/dowload.py
CNN/experiment1/q.py
CNN/experiment2/cnn_lettersNew.safetensors
target/
**/*.rs.bk
exp/tensor/tensor_module.cpython-313-x86_64-linux-gnu.so
TestPytorch/Transformer/__pycache__/Tokenizer.cpython-310.pyc
TestPytorch/Transformer/MyNewModel/__pycache__/decoderOnly.cpython-310.pyc
TestPytorch/Transformer/MyNewModel/__pycache__/tokenizer.cpython-310.pyc
TestPytorch/Transformer/standart/__pycache__/decoderOnly.cpython-310.pyc
TestPytorch/Transformer/standart/__pycache__/tokenizer.cpython-310.pyc
TestPytorch/Transformer/education/__pycache__/Mytransformers.cpython-310.pyc
